In [1]:
import pathlib
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 500)

In [3]:
field_names = [
    'Валынтойское',
    'Вынгаяхинское',
    'Крайнее',
    'Отдельное',
    'Романовское',
    'Холмогорское',
]
tables = [
    'fond',
    'frac',
    'merop',
    'mersum',
    'sh',
    'sh_sost_fond',
    'sost',
    'sppl',
    'troil',
    'welllist',
    'wellplast',
]
path = pathlib.Path.cwd()

In [5]:
data = {}
for field_name in field_names:
    data[field_name] = {}
    for table in tables:
        df = pd.read_feather(path / field_name / f'{table}.feather')
        data[field_name][table] = df
        
#         if table == 'welllist':
#             print(field_name, df.loc[df['ois'] != 0]['ceh'].unique())

In [ ]:
data['Крайнее']['welllist']

In [6]:
data['Крайнее']['wellplast']

        well.ois  plast     dtstart       dtend
0     2560000104   СЕНО  1987-11-30  2100-01-01
1     2560000108  2БС10  1993-11-30  2100-01-01
2     2560000204   СЕНО  1988-06-13  2100-01-01
3     2560000304   СЕНО  1988-06-23  2100-01-01
4     2560000308  2БС10  2016-04-05  2100-01-01
...          ...    ...         ...         ...
1146  2560950100     Ю1  2020-11-09  2100-01-01
1147  2560950200     Ю1  2020-12-08  2100-01-01
1148  2560950300     Ю1  2021-01-07  2100-01-01
1149  2560950400     Ю1  2021-02-15  2100-01-01
1150  2560950500     Ю1  2021-03-22  2100-01-01

[1151 rows x 4 columns]

In [7]:
data['Крайнее']['sppl']

,plastmer,tk,pm,nb,sp,sn,sw,ok,okv,hs
0,1БС10,2007-01-29,0.20,0.590,0.000053,0.000118,0.000043,1.153,1.009,0.847
1,2БС10,2007-01-29,0.19,0.595,0.000054,0.000142,0.000043,1.168,1.009,0.847
2,3БС10,2007-01-29,0.18,0.590,0.000000,0.000000,0.000000,1.271,0.000,0.848
3,Б17,2007-01-29,0.00,0.000,0.000000,0.000128,0.000000,1.250,0.000,0.850
4,БС11,2018-03-21,0.19,0.595,0.000100,0.000142,0.000000,1.169,0.000,0.847
5,БС16,2017-09-01,0.15,0.420,0.000000,0.000130,0.000000,1.250,0.000,0.850
6,БС16/1-1,2016-09-16,0.15,0.420,0.000000,0.000128,0.000000,1.250,0.000,0.850
7,БС18,2017-09-26,0.15,0.420,0.000000,0.000128,0.000000,1.250,0.000,0.850
8,БС19/1,2007-01-29,0.16,0.600,0.000000,0.000128,0.000000,1.316,0.000,0.850
9,БС19/1,2007-01-29,0.16,0.600,0.000000,0.000128,0.000000,1.316,0.000,0.850
10,БС20,2007-01-29,0.16,0.600,0.000057,0.000128,0.000044,1.316,1.008,0.850
11,БС8,2007-01-29,0.20,0.590,0.000053,0.000118,0.000042,1.115,1.008,0.857
12,БС9/1,2007-01-29,0.20,0.580,0.000054,0.000118,0.000042,1.115,1.008,0.857
13,БС9/2,2007-01-29,0.00,0.000,0.000000,0.000000,0.000000,0.000,0.000,0.000
14,СЕНО,2007-01-29,0.00,0.000,0.000000,0.000000,0.000000,0.000,0.000,0.860
15,Ю1,2007-01-29,0.16,0.600,0.000057,0.000108,0.000044,1.233,1.008,0.839

In [ ]:
dfs = []
for field_name in field_names:
    df_field = data[field_name]['sppl']
    df_field['field_name'] = field_name
    dfs.append(df_field)
df_sppl = pd.concat(dfs)
df_sppl.replace(0, np.nan, inplace=True)
df_sppl

In [ ]:
params = [
    'pm',
    'nb',
    'sp',
    'sn',
    'sw',
    'hs'
]
df_sppl[params].median()

In [ ]:
dfs = []
for field_name in field_names:
    df_field = data[field_name]['troil']
    df_field['field_name'] = field_name
    dfs.append(df_field)
df_troil = pd.concat(dfs, ignore_index=True)

df_troil = df_troil.loc[df_troil['well.ois'] != 0]
df_troil.replace(0, np.nan, inplace=True)
df_troil.sort_values(by=['well.ois', 'dt'], inplace=True)

df_troil

In [ ]:
df_troil.count()

In [ ]:
df_troil['grpdate'].dtype

In [ ]:
df_troil.loc[df_troil['skvtype'] == '']

In [ ]:
df_troil.loc[df_troil['well.ois'] == 2560617200]

In [ ]:
df_troil.loc[df_troil['well.ois'] == 2560617200, 'skvtype'].value_counts().idxmax()

In [ ]:
params = [
    'mu_liq',
    'ob_kt',
    'oilsaturatedthickness',
]
df_troil[params].median()

In [ ]:
df_merop = data['Крайнее']['merop']
df_merop.loc[df_merop['well.ois'] == 2560617200]

In [ ]:
data['Крайнее']['sh_sost_fond']

In [ ]:
data['Крайнее']['sh_sost_fond'].dtypes

In [ ]:
df_sh_sost_fond = data['Крайнее']['sh_sost_fond']
df_sh_sost_fond_well = df_sh_sost_fond.loc[df_sh_sost_fond['well.ois'] == 2560002200]
df_sh_sost_fond_well.set_index(keys=['dt'], inplace=True)
type(df_sh_sost_fond_well.index[0])

In [ ]:
data['Холмогорское']['sh'].sort_values(by='well.ois')

In [ ]:
data['Крайнее']['mersum']